@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }

  .print-container {
    width: 100%;
  }

  .print-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .print-course {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .print-course-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .print-course-description,
  .print-course-instructor,
  .print-course-categories {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.bg-auth {
  background: url('../public/bg-auth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.btn-hover-effect {
  display: flex;
  align-items: center;
}

.btn-hover-effect .arrow-icon {
  transition: transform 0.3s ease;
}

.btn-hover-effect:hover .arrow-icon {
  transform: translateX(-5px); /* Adjust the value as needed */
}
